<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <title>Services</title>
</head>
<body>
    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a class="header-link" href="../templates/support.html" >Support</a>
                        </li>
                        <li>
                            <a class="header-link" href="../templates/About.html">About</a>
                        </li>
                        <li>
                            
                            <a class="header-link" href="/templates/login.html">Login/Register</a>
                        </li>
                        <li style="padding-left:25em;">
                            <a class="header-link" href="chat.html">Open Cornelious</a>
                    </li>
                    </ul>
                    </nav>
                </div>
            </div>
    <div class="box1">
        <h1 style="font-size: 4rem;"><center><br>WORK AT CORNELIOUS<br></center></h1>
        <h6 style="font-size: 1.1rem;"><center>Cornelious is home to (com)passionate people who believe in our mission of creating <br>space for everyone to find belonging.</center></h6>
        <img src="../static/images/img.png">
    </div>
    <div class="box2">
        <h1 style="font-size: 2.8rem;"><center><br>Come build belonging with us<br><br></center></h1>
        <h6 style="font-size: 1.3rem;"><center>Discord is working toward an inclusive world where no one feels like an outsider, where genuine human connection is a click, text chat, or <br>voice call away. A place where everyone can find belonging. Challenging? Heck yes. Rewarding? Double heck yes. It’s a mission that gives us <br>the chance to positively impact millions of people all over the world.<br><br>
            ‍
            So if this strikes a chord, and you’re equally comfortable communicating in memes and gifs as you are in code or decks, come build <br>belonging with us!</center></h6>
            <h1 style="font-size: 2rem; padding-left: 5rem;"><br><br><br><br><br><br>Work with people who care.<br></h1>
            <h1 class="h11" style="font-size: 1.3rem; padding-left: 5rem;"><br>Our people, much like our users, can’t be put in a box. The quirky <br>and unique cast of characters that work together at Cornelious may <br>be intrepid travellers from all walks of life, but there’s a reason <br>we’ve all ended up here. We care about each other, the work we <br>do, and the future we’re building — like, a lot. We pull our own <br>weight and treat each other with extreme empathy.<strong> No <br>freeloaders or jerks allowed.</strong></h1>   
            <img src="../static/images/2.png"> 
            <div class="box3">
                <h1 style="font: bold; font-size: 2rem; padding-left: 5rem;"><br><br><br><br><strong>Internships</strong><br></h1>
                <h1 style="font-size: 1rem; padding-left: 5rem;"><br>Join us for an unforgettable summer <br>at Cornelious! You’ll be working on <br>real features that impact millions of people, <br>receive close mentorship, and learn from <br>leaders in the industry. We are looking for <br>undergraduate and graduate students of all <br>levels.<br></h1>
                <img src="../static/images/3.png">
            </div>
        </div>
        
<script src="../static/JavaScript/home.js"></script>
</body>

<body>
    <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Product</h3>
            <ul>
              <li><a href="#">Download</a></li>
              <li><a href="#">Nitro</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">App Directory</a></li>
              <li><a href="#">New Mobile Experience</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Company</h3>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Jul</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Policies</a></li>
              <li><a href="#">College</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand</a></li>
              <li><a href="#">Newsroom</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Support</h3>
            <ul>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Cookie Settings</a></li>
              <li><a href="#">Guidelines</a></li>
              <li><a href="#">Acknowledgements</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Developers</h3>
            <ul>
              <li><a href="#">StreamKit</a></li>
              <li><a href="#">Licences</a></li>
              <li><a href="#">Creators</a></li>
              <li><a href="#">Company Information</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Gaming</a></li>
              <li><a href="#">Quests</a></li>
              <li><a href="#">Official Third-Party Merch</a></li>
            </ul>
          </div>
        </div>
      </footer>
      </body>
    
    
</body>
</html>