<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <title>Services</title>
</head>
<body>
    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a href="../templates/support.html" >Support</a>
                        </li>
                        <li>
                            <a href="../templates/About.html"style="text-decoration: underline 0.1rem;">About</a>
                        </li>
                        <li>
                            
                            <a href="/templates/login.html">Login/Register</a>
                        </li>
                        <li style="padding-left:25em;">
                            <a href="chat.html">Open Cornelious</a>
                    </li>
                    </ul>
                    </nav>
                </div>
            </div>
    <div class="box1">
        <label for="box1"></label>
        <h1 style="font-size: 4rem;"><center><br>WORK AT CORNELIOUS<br></center></h1>
        <h6 style="font-size: 1.1rem;"><center>Cornelious is home to (com)passionate people who believe in our mission of creating <br>space for everyone to find belonging.</center></h6>
        <img src="../static/images/img.png">
    </div>
    <div class="box2">
        <label for="box2"></label>
        <h1 style="font-size: 2.8rem;"><center><br>Come build belonging with us<br><br></center></h1>
        <h6 style="font-size: 1.3rem;"><center>Discord is working toward an inclusive world where no one feels like an outsider, where genuine human connection is a click, text chat, or <br>voice call away. A place where everyone can find belonging. Challenging? Heck yes. Rewarding? Double heck yes. It’s a mission that gives us <br>the chance to positively impact millions of people all over the world.<br><br>
            ‍
            So if this strikes a chord, and you’re equally comfortable communicating in memes and gifs as you are in code or decks, come build <br>belonging with us!</center></h6>
            <h1 style="font-size: 2rem; padding-left: 5rem;"><br><br><br><br><br><br>Work with people who care.<br></h1>
            <h1 class="h11" style="font-size: 1.3rem; padding-left: 5rem;"><br>Our people, much like our users, can’t be put in a box. The quirky <br>and unique cast of characters that work together at Cornelious may <br>be intrepid travellers from all walks of life, but there’s a reason <br>we’ve all ended up here. We care about each other, the work we <br>do, and the future we’re building — like, a lot. We pull our own <br>weight and treat each other with extreme empathy.<strong> No <br>freeloaders or jerks allowed.</strong></h1>   
            <img src="../static/images/2.png"> 
        </div>

</body>
<script href="../static/JavaScript/home.js"></script>
    
    
</body>
</html>