<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/support-style.css">
    <title>Services</title>
</head>
<body>
    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="/Website/templates/Home.html"><img src="/Website/static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a href="/Website/templates/support.html" >Support</a>
                        </li>
                        <li>
                            <a href="/Website/templates/About.html"style="text-decoration: underline 0.1rem;">About</a>
                        </li>
                        <li>
                            <a href="/Website/templates/login.html">Login/Register</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>
    <h1><center>Services</center></h1>

    
    
</body>
</html>