<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/chat-style.css">
    <title>Chat</title>
</head>
<body>
    <ul class="chat__list">
        <li class="chat__item">
            <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
            <p>Sigmalion Sigmov</p>
        </li>
    </ul>
    <div class="chat__window">
        <ul class="chat__messages">
            <li class="chat__message_y">
                <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
                <p>Hey, how are you?</p>
            </li>
            <li class="chat__message_o">
                <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
                <p>Fine, you?</p>
            </li>
            <li class="chat__message_y">
                <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
                <p>Same, you got plans for tonight?</p>
            </li>
            <li class="chat__message_o">
                <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
                <p>No, wanna hangout?</p>
            </li>
            <li class="chat__message_y">
                <img class="pfp" src="/static/images/pfp.png" alt="Profile picture">
                <p>Yes, I'll call you in a minute.</p>
            </li>
        </ul>
        <form class="chat__form">
            <input type="text" class="chat__input" placeholder="Type a message...">
            <button class="chat__button" type="submit">Send</button>
        </form>
    </div>
</body>
</html>