<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/chat-style.css">
    <title>Chat</title>
</head>
<body>
    <div class="person-selector">
        <button class="button person-selector-button active" id="person1-selector">Simeon</button>
        <button class="button person-selector-button" id="person2-selector">Vasil</button>
    </div>
    <div class="chat-container">
        <a href="/templates/call.html"><button class="button call-button" id="call-button"><img class="call-icon" src="/static/images/call.png"></button></a>
        <div class="chat-messages" id="chat-messages">
            <!-- Chat messages will be displayed here -->
        </div>
        <form class="chat-input-form" id="chat-input-form">
            <input type="text" class="chat-input" id="chat-input" required placeholder="Type here, ???..." />
            <button type="submit" class="button send-button">Send</button>
        </form>
    </div>
    <script src="/static/JavaScript/chatSystem.js"></script>
</body>
</html>