<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/chat-style.css">
    <title>Chat</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <a href="Home.html"><img src="/static/images/Logo.png" class="Logo"></a>
            <nav>
                <ul class="nav__list">
                    <li>
                        <a href="support.html">Support</a>
                    </li>
                    <li>
                        <a href="About.html">About</a>
                    </li>
                    <li>
                        <a href="login.html">Login/Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>