<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <link rel="stylesheet" href="../static/css/Home-style.css" />
</head>

<body>
        <header class="header">
                <div class="header__content">
                    <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a href="../templates/support.html">Support</a>
                        </li>
                        <li>
                            <a href="../templates/About.html">About</a>
                        </li>
                        <li>
                            <a href="../templates/login.html">Login/Register</a>
                        </li>
                        <li style="padding-left:25em;">
                            <a href="chat.html">Open Cornelious</a>
                    </li>
                    </ul>
                    </nav>
                </div>
            </div>

    </header>
    <div class="box1">
        <img src="../static/images/1.png" alt="Image" class="image">
        <label for="box1"></label>
        <div class="textbox">
          <h1 style="font-size: 2.5rem;">Create an invite-only<br>place where you belong.</h1><br><p style="font-size: 1.3rem;">Cornelious servers are organised into topic-<br>based channels where you can collaborate,<br>share and just talk about your day without <br>clogging up a group chat.</p>
        </div>
    </div>
    <div class="box2">
        <img src="../static/images/2.jpg" alt="Image" class="image2">
        <label for="box2"></label>
        <div class="textbox2">
          <h1 style="font-size: 2.5rem;">Where hanging<br>out is easy.</h1>
    </div>

</body>
<script href="../static/JavaScript/home.js"></script>
</html>