<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <link rel="stylesheet" href="../static/css/Home-style.css" />
</head>
<body>
  <header class="header">
    <div class="header__content">
      <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
      <nav>
        <ul class="nav__list">
          <li>
            <a class="header-link" href="../templates/support.html">Support</a>
          </li>
          <li>
            <a class="header-link" href="../templates/About.html">About</a>
          </li>
          <li>
            <a class="header-link" href="../templates/login.html">Login/Register</a>
          </li>
          <li>
            <a class="header-link" href="../templates/premium.html">Buy Premium</a>
          </li>
          <li style="padding-left:25em;">
            <a class="header-link" href="chat.html">Open Cornelious</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
    <footer>
        <div class="footer-container">
          <div class="footer-column">
            <h3>Product</h3>
            <ul>
              <li><a href="#">Download</a></li>
              <li><a href="#">Nitro</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">App Directory</a></li>
              <li><a href="#">New Mobile Experience</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Company</h3>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Jul</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Policies</a></li>
              <li><a href="#">College</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Brand</a></li>
              <li><a href="#">Newsroom</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Support</h3>
            <ul>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Cookie Settings</a></li>
              <li><a href="#">Guidelines</a></li>
              <li><a href="#">Acknowledgements</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h3>Developers</h3>
            <ul>
              <li><a href="#">StreamKit</a></li>
              <li><a href="#">Licences</a></li>
              <li><a href="#">Creators</a></li>
              <li><a href="#">Company Information</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="#">Developers</a></li>
              <li><a href="#">Gaming</a></li>
              <li><a href="#">Quests</a></li>
              <li><a href="#">Official Third-Party Merch</a></li>
            </ul>
          </div>
        </div>
      </footer>
    <div class="box1">
        <img src="../static/images/2.svg" alt="Image" class="image">
        <label for="box1"></label>
        <div class="textbox">
          <h1 style="font-size: 2.5rem;">Create an invite-only<br>place where you belong.</h1><br><p style="font-size: 1.3rem;">Cornelious servers are organised into topic-<br>based channels where you can collaborate,<br>share and just talk about your day without <br>clogging up a group chat.</p>
        </div>
    </div>
    <div class="box2">
        <img src="../static/images/1.svg" alt="Image" class="image2">
        <label for="box2"></label>
        <div class="textbox2">
          <h1 style="font-size: 2.5rem;">Where hanging<br>out is easy.</h1><br><p style="font-size: 1.3rem;">Grab a seat in a voice channel <br>when you’re free. Friends in <br>your server can see you’re<br> around and instantly pop in<br>to talk without having to call</p>
    </div>
    <div class="box3">
        <img src="../static/images/3.svg" alt="Image" class="image">
        <label for="box1"></label>
        <div class="textbox3">
          <h1 style="font-size: 2.5rem;">From few to<br>a random.</h1><br><p style="font-size: 1.3rem;">Get any community running with<br>moderation tools and custom<br>member access. Give members<br>special powers, set up private<br>channels and more.</p>
        </div>
    </div>
   
      
</body>

<script src="../static/JavaScript/home.js"></script>
</html>