<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <link rel="stylesheet" href="../static/css/Home-style.css" />
</head>

<body>


    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a href="../templates/support.html">Support</a>
                        </li>
                        <li>
                            <a href="../templates/About.html">About</a>
                        </li>
                        <li>
                            <a href="../templates/login.html">Login/Register</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>

        </header>
    </div>



</body>

</html>