<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/register-style.css">
    <title>Login</title>
</head>

<body>
    <header class="header">
        <div class="header__content">
            <a href="Home.html"><img src="../static/images/Logo1.png" class="Logo"></a>
            <nav>
                <ul class="nav__list">
                    <li>
                        <a href="support.html" >Support</a>
                    </li>
                    <li>
                        <a href="About.html">About</a>
                    </li>
                    <li>
                        <a href="#" onclick="window.location.reload(true);" style="text-decoration: underline 0.1rem; cursor: pointer">Login/Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">

        <div class="login-box">
            <h1>Username:</h1>
            <input type="text" id="username" name="username" class="input-field" required placeholder="Enter your username">
            <h1>Email:</h1>
            <input type="email" id="email" name="email" class="input-field" required placeholder="Enter your email">
            <h1>Password:</h1>
            <input type="password" id="password" name="password" class="input-field" required placeholder="Enter your password">
            <h1>Confirm Password:</h1>
            <input type="password" id="confirm-password" name="confirm-password" class="input-field" required placeholder="Confirm your password">
            <button class="login-button" onclick="">Register</button>
            <p>Have an account: <a href="login.html">Log in</a></p>
        </div>
    </div>
</body>

</html>