<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/register-style.css">
    <title>Login</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <a href="../templates/Home.html"><img src="../static/images/Logo1.png" class="Logo"></a>
            <nav>
                <ul class="nav__list">
                    <li>
                        <a class="header-link" href="./support.html" >Support</a>
                    </li>
                    <li>
                        <a class="header-link" href="./About.html">About</a>
                    </li>
                    <li>
                        <a class="header-link" href="./login.html">Login/Register</a>
                    </li>
                    <li>
                        <a class="header-link" href="../templates/premium.html">Buy Premium</a>
                    </li>
                    <li style="padding-left:25em;">
                        <a class="header-link" href="chat.html">Open Cornelious</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="main">
        <div class="login-box">
            <h1>Username:</h1>
            <input type="text" id="username" name="username" class="input-field" required placeholder="Enter your username">
            <h1>Email:</h1>
            <input type="email" id="email" name="email" class="input-field" required placeholder="Enter your email">
            <h1>Password:</h1>
            <input type="password" id="password" name="password" class="input-field" required placeholder="Enter your password">
            <h1>Confirm Password:</h1>
            <input type="password" id="confirm-password" name="confirm-password" class="input-field" required placeholder="Confirm your password">
            <button class="login-button" onclick="">Register</button>
            <p>Have an account: <a href="login.html">Log in</a></p>
        </div>
    </div>
    <script src="../static/JavaScript/animation.js"></script>
</body>
</html>