<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8 strict">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/support-style.css">
    <title>Help</title>
</head>
<body>
    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="../templates/Home.html"><img src="../static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a class="header-link" href="../templates/support.html" >Support</a>
                        </li>
                        <li>
                            <a  class="header-link" href="../templates/About.html">About</a>
                        </li>
                        <li>
                            <a class="header-link" href="../templates/login.html">Login/Register</a>
                        </li>
                        <li style="padding-left:25em;">
                                <a class="header-link" href="chat.html">Open Cornelious</a>
                        </li>
                    </ul>
                    
                </nav>
                </div>
            </div>
            <div class="box-container">
                <div class="box" id="safety-library">
                  <h2>Safety Library</h2>
                </div>
                <div class="box" id="privacy-hub">
                  <h2>Privacy Hub</h2>
                </div>
                <div class="box" id="parent-hub">
                  <h2>Parent Hub</h2>
                </div>
                <div class="box" id="transparency-hub">
                  <h2>Transparency Hub</h2>
                </div>
                <div class="box" id="safety-news-hub">
                  <h2>Safety News Hub</h2>
                </div>
                <div class="box" id="policy-hub">
                  <h2>Policy Hub</h2>
                </div>
              </div>
    
              <script src="../static/JavaScript/home.js"></script>
</body>

<body>
  <footer>
      <div class="footer-container">
        <div class="footer-column">
          <h3>Product</h3>
          <ul>
            <li><a href="#">Download</a></li>
            <li><a href="#">Nitro</a></li>
            <li><a href="#">Status</a></li>
            <li><a href="#">App Directory</a></li>
            <li><a href="#">New Mobile Experience</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Company</h3>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Jul</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">College</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Brand</a></li>
            <li><a href="#">Newsroom</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Support</h3>
          <ul>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Safety</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookie Settings</a></li>
            <li><a href="#">Guidelines</a></li>
            <li><a href="#">Acknowledgements</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Developers</h3>
          <ul>
            <li><a href="#">StreamKit</a></li>
            <li><a href="#">Licences</a></li>
            <li><a href="#">Creators</a></li>
            <li><a href="#">Company Information</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Gaming</a></li>
            <li><a href="#">Quests</a></li>
            <li><a href="#">Official Third-Party Merch</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </body>
</html>