<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <link rel="stylesheet" href="/Website/static/css/Home-style.css" />
</head>

<body>


    <div class="head">
        <header class="header">
                <div class="header__content">
                    <a href="/Website/templates/Home.html"><img src="/Website/static/images/Logo.png" class="Logo"></a>
                <nav>
                    <ul class="nav__list">
                       <li>
                            <a href="/Website/templates/services.html">Services</a>
                        </li>
                        <li>
                            <a href="/Website/templates/About.html">About</a>
                        </li>
                        <li>
                            <a href="/Website/templates/login.html">Login/Register</a>
                        </li>
                    </ul>
                    </nav>
                </div>
            </div>

        </header>
        <div class="box1">
            <div class="box1__inner">
                
            </div>

        </div>
    </div>



</body>

</html>