<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Website/static/css/login-style.css">
    <title>Login</title>
</head>
    <body>
        <div class="main">
            <div class="login-box">
                <h1>Email</h1>
                <input placeholder="Email" class="input-field"></input>
                <h1>Password</h1>
                <input placeholder="Password" type="password" class="input-field"></input>
                <button class="login-button">Log in</button>
                <p>Need an account: <a href="#">Register</a></p>
            </div>
        </div>
    </body>
</html>